body {
  background-color: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.gallery-container {
  max-width: 1128px;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}
.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  column-gap: 24px;
  row-gap: 24px;
}
.gallery-image:hover {
  scale: 1.04;
}
